@charset "UTF-8";
body {
    font-family: 'Open Sans', sans-serif !important;
}

footer {
    color: #eee;
    background-color: #393e46;
    position: relative;
    display: table-cell;
    padding: -2rem !important;
    margin: 0;
    height: 20vh;
    width: 100vw;
    text-align: center;
    vertical-align: middle !important;
    align-items: center;
}

h1 {
    font-weight: 700;
}

hr {
    background-color: #222831;
    height: 2px;
    width: 80vw;
}

.dotsnav {
    position: fixed;
    clear: both;
    float: right;
    margin: 1rem;
    right: 5px;
    bottom: 0;
    z-index: 101;
}

/******************************************************************************
****************************** Navegación *************************************
******************************************************************************/

.barra-nav-all {
    background-color: #222831;
    width: 80%;
    padding: 0;
    clear: both;
    position: fixed;
    align-content: center;
    align-self: center;
    z-index: 100;
    transition: all 0.8s ease 0.8s;
}

.barra-nav {
    background-color: #222831;
    width: 100%;
    margin: 0 0 0 -1.5rem;
    padding: 0;
    clear: both;
    position: fixed;
    z-index: 100;
    transition: all 0.8s ease 0.8s;
}

.barra-nav .brand-group {
    display: inline-flex;
    text-decoration: none;
}

.barra-nav-all .brand-group {
    display: inline-flex;
    text-decoration: none;
}

@media (min-width: 970px) {
    .barra-nav .brand-group .brand-image {
        margin: 1rem;
        vertical-align: middle;
        align-items: center;
        height: 5rem;
    }
    .barra-nav-all .brand-group .brand-image {
        margin: 1rem;
        vertical-align: middle;
        align-items: center;
        height: 5rem;
    }
    .barra-nav .brand-group .brand-title {
        font-family: 'Lobster Two', cursive !important;
        color: #eee;
    }
    .barra-nav-all .brand-group .brand-title {
        font-family: 'Lobster Two', cursive !important;
        color: #eee;
    }
    .barra-nav .brand-group .brand-title small {
        font-size: 1.4rem;
    }
    .barra-nav-all .brand-group .brand-title small {
        font-size: 1.4rem;
    }
}

@media (min-width: 1200px) {
    .barra-nav .brand-group .brand-image {
        margin: 1rem;
        vertical-align: middle;
        align-items: center;
        height: 6rem;
    }
    .barra-nav-all .brand-group .brand-image {
        margin: 1rem;
        vertical-align: middle;
        align-items: center;
        height: 6rem;
    }
    .barra-nav .brand-group .brand-title {
        font-family: 'Lobster Two', cursive !important;
        color: #eee;
    }
    .barra-nav-all .brand-group .brand-title {
        font-family: 'Lobster Two', cursive !important;
        color: #eee;
    }
    .barra-nav .brand-group .brand-title small {
        font-size: 1.6rem;
    }
    .barra-nav-all .brand-group .brand-title small {
        font-size: 1.6rem;
    }
}

@media (min-width: 1400px) {
    .barra-nav .brand-group .brand-image {
        margin: 1rem;
        vertical-align: middle;
        align-items: center;
        height: 7rem;
    }
    .barra-nav-all .brand-group .brand-image {
        margin: 1rem;
        vertical-align: middle;
        align-items: center;
        height: 7rem;
    }
    .barra-nav .brand-group .brand-title {
        font-family: 'Lobster Two', cursive !important;
        color: #eee;
    }
    .barra-nav-all .brand-group .brand-title {
        font-family: 'Lobster Two', cursive !important;
        color: #eee;
    }
    .barra-nav .brand-group .brand-title small {
        font-size: 2rem;
    }
    .barra-nav-all .brand-group .brand-title small {
        font-size: 2rem;
    }
}

.barra-nav ul.navegacion {
    list-style-type: none;
    display: inline-flex;
    flex: auto;
    align-items: flex-start;
    vertical-align: middle;
}
.barra-nav-all ul.navegacion {
    list-style-type: none;
    display: inline-flex;
    flex: auto;
    align-items: flex-start;
    vertical-align: middle;
}

@media (min-width: 970px) {
    .barra-nav .navegacion li {
        display: inline;
        padding: 2.1rem 1.7rem 2.1rem 1rem;
    }

    .barra-nav .navegacion li a {
        font-size: 1.8rem;
        font-weight: 300;
        color: #eee;
        text-decoration: none;
    }
    .barra-nav .navegacion li a:hover {
        color: #999;
        text-decoration: none;
    }
    .barra-nav-all .navegacion li {
        display: inline;
        padding: 2.1rem 1.7rem 2.1rem 1rem;
    }

    .barra-nav-all .navegacion li a {
        font-size: 1.3rem;
        font-weight: 300;
        color: #eee;
        text-decoration: none;
    }
    .barra-nav-all .navegacion li a:hover {
        color: #999;
        text-decoration: none;
    }
}

@media (min-width: 1200px) {
    .barra-nav .navegacion li {
        display: inline;
        padding: 2.3rem 2.5rem 2.3rem 1rem;
    }

    .barra-nav .navegacion li a {
        font-size: 2.4rem;
        font-weight: 300;
        color: #eee;
        text-decoration: none;
    }
    .barra-nav .navegacion li a:hover {
        color: #999;
        text-decoration: none;
    }
    .barra-nav-all .navegacion li {
        display: inline;
        padding: 2.3rem 2.5rem 2.3rem 1rem;
    }

    .barra-nav-all .navegacion li a {
        font-size: 1.7rem;
        font-weight: 300;
        color: #eee;
        text-decoration: none;
    }
    .barra-nav-all .navegacion li a:hover {
        color: #999;
        text-decoration: none;
    }
}

@media (min-width: 1400px) {
    .barra-nav .navegacion li {
        display: inline;
        padding: 2.5rem 3rem 2.5rem 1rem;
    }

    .barra-nav .navegacion li a {
        font-size: 2.6rem;
        font-weight: 300;
        color: #eee;
        text-decoration: none;
    }
    .barra-nav .navegacion li a:hover {
        color: #999;
        text-decoration: none;
    }
    .barra-nav-all .navegacion li {
        display: inline;
        padding: 2.5rem 3rem 2.5rem 1rem;
    }

    .barra-nav-all .navegacion li a {
        font-size: 2.4rem;
        font-weight: 300;
        color: #eee;
        text-decoration: none;
    }
    .barra-nav-all .navegacion li a:hover {
        color: #999;
        text-decoration: none;
    }
}

/******************************************************************************
****************************** Portada ****************************************
******************************************************************************/

.presentacion {
    margin: -0.5rem -1.5rem -0.5rem -1.5rem;
    background-image: url("../img/portada.jpg");
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    position: relative;
    text-align: center;
    z-index: 0;
}

.presentacion .pensamiento {
    text-align: center;
    align-self: center;
    vertical-align: middle;
}

.presentacion .pensamiento .texto {
    color: #393e46;
    text-shadow: 1px 1px 5px rgba(238, 238, 238, 1);
    font-weight: 300;
    margin-top: 25rem;
}

/******************************************************************************
******************************* Quienes Somos *********************************
******************************************************************************/
.seccion1 {
    margin: 0 0 5rem 0;
}

.qHead {
    text-align: center;
    font-family: "Lobster Two", cursive;
    font-size: 6rem;
    font-style: normal;
    font-weight: 700;
    padding-top: 9rem;
}

.qText {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 2rem;
    margin-top: 5rem;
}

figure {
    display: table-cell;
    align-items: center;
    align-self: center;
    padding-top: 3rem;
}

figure > .img1 {
    position: relative;
    clear: both;
}
figure > .img2 {
    position: relative;
    clear: both;
    background-size: cover;
}

.qImg {
    text-align: center;
}

.qCap {
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
}

/******************************************************************************
********************************** Servicios **********************************
******************************************************************************/

.servicios {
    margin: 5rem 0 3rem 0;
    padding: 0 !important;
    width: 100%;
    height: 120vh;
    text-align: center;
}

.sHead {
    font-family: "Lobster Two", cursive;
    font-size: 6rem;
    margin: 0 0 5rem 0;
}

/* Diseño */
.diseño {
    color: #eee;
    padding: 0;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    height: 100vh;
    width: 50vw;
    background-color: #222831;
    background-image: url("../img/ola_clara.png");
    background-size:  50vw;
    background-position: left bottom;
    background-repeat: no-repeat;
}

/* Desarrollo */

.desarrollo {
    color: #222831;
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 50vw;
    background-image: url("../img/ola_oscura.png");
    background-color: #F2FFB2;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size:  50vw;
}

/* General */

.dTitulo {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}

.dTexto {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    margin: 7rem 5rem 15rem 5rem;
}

/******************************************************************************
********************************* Tecnologías *********************************
******************************************************************************/

.tecnologías {
    margin: 5rem 0 3rem 0;
    padding: 0 !important;
    text-align: center;
    width: 100%;
    height: 120vh;
}

.tHead {
    font-family: "Lobster Two", cursive;
    font-size: 6rem;
    margin: 0 0 5rem 0;
}

.bTech {
    background-image: url("../img/seccion3.png");
    background-attachment: fixed;
    background-size: cover;
    display: table-cell;
    width: 100vw;
    height: 100vh;
}

#imgsBig1, #imgsBig2, #imgsBig3 {
    margin: 12rem 0 5rem 0;
}

#imgsSmall1, #imgsSmall2, #imgsSmall3 {
    margin: 3rem 0 3rem 0;
}

.imgTechBig {
    margin: 1rem;
    width: 12vw;
    height: 20%;
}

.imgTechSmall {
    width: 5vw;
}

.tTitle {
    color: #222831 !important;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    margin-top: 3rem;
}

.tTexto {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: #222831;
    padding-left: 5rem;
    padding-right: 5rem;
    margin: 3rem 15rem 5 15rem;
}

/* Web */

/******************************************************************************
********************************** Contacto ***********************************
******************************************************************************/

.fBrand {
    text-align: center;
    margin: 1.8rem;
    vertical-align: middle;
    align-items: center;
    height: 15vh;
}

.fCopy {
    margin: 6rem 0 6rem 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 2rem;
}

.fCopy .copy-left {
    display: inline-block;
    text-align: right;
    margin: 0px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.fMForm {
    margin: 5.5rem 0 6.5rem 0;
}
