/* Coolors Exported Palette - coolors.co/222831-393e46-3bc3f9-00adb5-eeeeee */

$color1: #222831; //rgba(34, 40, 49, 100)
$color2: #393e46; //rgba(57, 62, 70, 100)
$color3: #3bc3f9; //rgba(59, 195, 249, 100)
$color4: #00adb5; //rgba(0, 173, 181, 100)
$color5: #eeeeee; //rgba(238, 238, 238, 100)